/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #1c2c64;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #7b2049;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure relative positioning for containing the points display */
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #800080;
}

p {
  font-size: 16px;
}

#message {
  font-weight: bold;
  margin-top: 20px;
}

#pointsDisplay {
  position: absolute; /* Position absolutely within the container */
  top: 10px; /* Adjust the top distance as needed */
  right: 10px; /* Adjust the right distance as needed */
  background-color: #7b2049; 
  padding: 5px 10px; /* Add padding for better visibility */
  border-radius: 5px; /* Add rounded corners */
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Additional styles for Tic Tac Toe popup */
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
}
